.backButton {
  width: 100%;
  justify-content: center;
  padding: 8px 16px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  border: 1px;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  min-width: 180px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.backButton:hover {
  background-color: #2196f3;
  color: rgb(0, 0, 0);
}

.reviews {
  color:#2196f3;
  padding: 8px 16px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.cast {
  padding: 8px 16px;
  color: #000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.reviews:hover,
.cast:hover {
  background-color: #2196f3;
  color: rgb(3, 3, 3);
}
.hr {
  width: 100%;;
}
/* .backButton {
  cursor: pointer;
  width: 80px;
  text-align: center;
  font-weight: bold;
  padding: 8px 15px;
  margin-bottom: 15px;
  box-shadow: 1px 2px 2px 0 rgb(0, 0, 0/0.5);
  transition: box-shadow 250ms linear;
  border-radius: 10px;
  border: 1px solid #2196f3;
}

.backButton:hover {
  background-color: #2196f3;
  color: white;
}

.reviews {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 10px;
  border: 1px solid #2196f3;
  margin-right: 30px;
  font-weight: bold;
}

.cast {
  display: inline-block;
  padding: 8px 28px;
  border-radius: 10px;
  border: 1px solid #2196f3;
  font-weight: bold;
}

.reviews:hover,
.cast:hover {
  background-color: #2196f3;
  color: white;
} */